<div class="container">
	<div class="row">
		<div ng-show="!editMode">
			<div class="col-md-2">
				<img ng-src="http://i.imgur.com/{{item.imgUrl}}" width="150px" />
			</div>
			<div class="col-md-1">
				<div class="btn-group-vertical">
					<a class="btn" >
						<span class="glyphicon glyphicon-chevron-up" ng-click="upVote(item)"></span>
					</a>
					<a class="btn">{{item.rating}}</a>
					<a class="btn" >
						<span class="glyphicon glyphicon-chevron-down" ng-click="downVote(item)"></span>
					</a>
				</div>
			</div>

			<div ng-class-even="'even'" ng-class-odd="'odd'" class="col-md-3">
				<a ng-href="{{item.url}}">
					<h2 ng-class="{'highlight' : (item.price >15000) }" >{{item.name | uppercase}}</h2>
				</a>
				<span class="h3">{{item.area |toSqFeet | number:2}} sq.ft</span>
			</div>
			<div class="col-md-3">
				<span ng-show="!showMore">{{item.description | limitTo : descLimit}}</span>
				<span ng-show="showMore">{{item.description}}</span>

				<span ng-show="item.description.length >descLimit && !showMore">...</span>
				<span ng-show="item.description.length >
					descLimit && !showMore">
					<a href="" ng-click="showMore=true">more</a>
				</span>
			</div>
			<div class="col-md-3">

				<h3>{{item.price}}</h3>
				<button ng-show="item.availableForBook" ng-click="editMode=true">Edit</button>
			</div>
			<hr />
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<hr/>

	<div class="row">
		<div class="col-md-6">
			<ng-form name="commentForm">
				<div>
					<input type="text" required ng-model="comment.name" class="form-control" />
				</div>
				<br/>
				<div>
					<textarea rows="5" ng-model="comment.text" class="form-control" ></textarea>
				</div>
				<br/>
				<div>
					<button class="pull-right btn btn-success" ng-disabled="commentForm.$invalid" ng-click="addComment()">Add</button>
				</div>
			</ng-form>
		</div>
		<div class="col-md-6">
			<div ng-repeat="comment in item.comments">
				<div class="col-md-2">{{comment.name}}</div>
				<div class="col-md-10">{{comment.text}}</div>
			</div>
		</div>
	</div>
</div>