<div >
  <div class="col-md-3">
    <img ng-src="http://i.imgur.com/{{item.imgUrl}}" width="150px" />
  </div>

  <div ng-class-even="'even'" ng-class-odd="'odd'" class="col-md-3">
    <input  type="text" ng-model="item.name" class="form-control"></div>
  <div class="col-md-3">
    <span ng-show="!showMore">{{item.description | limitTo : descLimit}}</span>
    <span ng-show="showMore">{{item.description}}</span>

    <span ng-show="item.description.length >descLimit && !showMore">...</span>
    <span ng-show="item.description.length >
      descLimit && !showMore">
      <a href="" ng-click="showMore=true">more</a>
    </span>
  </div>
  <div class="col-md-3">

    <h3>
      <input type="number" ng-model="item.price" class="form-control" />
    </h3>
    <button ng-show="item.availableForBook" ng-click="editMode=false" >Done</button>
  </div>
  <hr />
</div>